<mat-toolbar>
    

<span class="spacer"></span>

    <a 
    routerLink="/" 
    routerLinkActive="active" 
    [routerLinkActiveOptions]="{ exact: true }" 
    mat-button>{{ 'home' | translate }} <mat-icon>home</mat-icon></a>

    
    <a 
    routerLink="/posts" 
    routerLinkActive="active" 
    mat-button>{{ 'posts' | translate }} <mat-icon>book</mat-icon></a>


    
    <a mat-button [matMenuTriggerFor]="menu">{{ 'language' | translate }} <mat-icon>language</mat-icon></a>
    <mat-menu #menu="matMenu">
        <a (click)="switchLanguage('az')" mat-menu-item>AZ</a>
        <a (click)="switchLanguage('en')" mat-menu-item>EN</a>
        <a (click)="switchLanguage('kr')" mat-menu-item>KR</a>
    </mat-menu>
</mat-toolbar>


