<mat-toolbar color="primary">
<span>My Blog</span>
<span class="spacer"></span>

    <a 
    routerLink="/" 
    routerLinkActive="active" 
    [routerLinkActiveOptions]="{ exact: true }" 
    mat-button>Home <mat-icon>home</mat-icon></a>

    
    <a 
    routerLink="/posts" 
    routerLinkActive="active" 
    mat-button>Posts <mat-icon>book</mat-icon></a>


    
    <button mat-button [matMenuTriggerFor]="menu">Language <mat-icon>language</mat-icon></button>
    <mat-menu #menu="matMenu">
        <a href="#" mat-menu-item>AZ</a>
        <a href="#" mat-menu-item>EN</a>
        <a href="#" mat-menu-item>KR</a>
    </mat-menu>
</mat-toolbar>
