/* You can add global styles to this file, and also import other style files */


@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/sass/mixins';


html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: whitesmoke;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    .grid-column{
        width: 33%;
        @include breakpoint(visible-xs) {
            width: 100%;
        }

    }
}

.spacer {
    flex: 1 1 auto;
  }

.page-title{
    padding: 20px;
    color: #ee6e73;
    font-size: 30px;
    text-align: center;
  }


.blog-item{
    margin: 20px;   
    img{
        height: 200px;
        object-fit: cover;
    }
    
}

.centered{
    padding: 30px 20px;
    text-align: center;
}

.section{
    padding-bottom: 100px;
}


.post{
    min-height: 100%;
    p{
        padding: 20px;
    }
}

// material default style change
.mat-progress-spinner circle, .mat-spinner circle{
    stroke: #ee6e73!important;
}
.mat-card-header-text{
    margin: 0!important;
}
.mat-figure{
    display:block!important;
}
.mat-toolbar{
    background-color: #ee6e73;
    color: #ffffff;
    a{
        color: #ffffff;
    }
}

